.footer {
    width: 100%;
    min-height: toRem(90px);
    padding-top: toRem(10px);
    padding-bottom: toRem(10px);
    padding-inline: toRem(20px);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: toRem(600px)){
        gap: toRem(10px);
    }

    &__logo {
        width: toRem(60px);
        height: auto;
    }

    &__text-box {
        display: flex;
        gap: toRem(20px);
        font-size: toRem(13px);

        @media only screen and (max-width: toRem(600px)){
            flex-direction: column;
            gap: toRem(10px);
        }

        .footer__text {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: toRem(5px);

            .footer__img {
                width: toRem(20px);
                height: auto;

                &:nth-child(2){
                    cursor: pointer;
                }
            }
        }
    }
}