.header {
    width: 100%;
    // padding-top: toRem(20px);
    // padding-bottom: toRem(20px);
    padding-inline: toRem(15px);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @media only screen and (max-width: toRem(770px)) {
        flex-direction: column;
        align-items: flex-start;
        padding-inline: toRem(20px);
    }

    .logo__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width:toRem(770px)) {
            width: 100%;
        }

        .logo__img {
            width: toRem(80px);
            height: auto;
            cursor: pointer;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: toRem(5px);
            order: 1;
            padding-right: toRem(10px);
            cursor: pointer;

            @media only screen and (max-width: toRem(770px)) {
                display: flex;
                justify-content: end;
            }

            span {
                width: toRem(35px);
                height: toRem(4px);
                border-radius: toRem(10px);
                background-color: #000;
            }
        }
    }

    .navbar__box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: toRem(20px);
        order: 2;

        @media only screen and (max-width: toRem(770px)) {
            display: none;
            flex-direction: column;
            gap: toRem(5px);
            padding-top: toRem(40px);
            padding-bottom: toRem(40px);
        }

        &.open {
            display: flex;
        }

        .navbar__link {
            text-decoration: none;
            text-transform: none;
            color: #000;
            padding: toRem(10px) toRem(15px);
            cursor: pointer;
            border-bottom: 5px solid transparent;

            @media only screen and (max-width: toRem(770px)) {
                width: 50%;
                text-align: center;
                padding-top: toRem(15px);
                padding-bottom: toRem(15px);
                border-bottom: toRem(1px) solid darkblue;
            }

            &:hover {
                border-bottom: 3px solid $secendary-color;
                // background-color: lightblue;
                // border-radius: toRem(10px);
            }

            &.current {
                border-bottom: 3px solid $secendary-color;
                // background-color: lightblue;
                // border-radius: toRem(10px);
            }
        }
    }
}