$base-font-size: 16px;
$bg-color: rgb(249, 249, 243);
$secendary-color: #cf003d;
$text-color: rgb(44, 42, 42);
// $background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(14, 25, 28, 1) 28%, rgba(0, 93, 191, 1) 78%);
$background: #002d69;
$hdl-background: #002d69;
// $hdl-background: #020024;
$background-news: linear-gradient(180deg, rgba(2,0,36,1) 5%, rgba(14,25,28,1) 9%, rgba(0,93,191,1) 32%);
$background-hero: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(14,25,28,1) 28%, rgba(0,93,191,1) 78%);
