.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background;

    &__hdl {
        background-color: $hdl-background;
        width: 100%;
        min-height: toRem(50px);
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: toRem(10px);
        padding-top: toRem(20px);
    }

    &__box {
        margin-top: toRem(10px);
        width: 90%;
        padding: toRem(10px) toRem(20px) toRem(20px) toRem(20px);
        display: flex;
        flex-direction: column;
        gap: toRem(20px);

        @media only screen and (max-width: toRem(770px)) {
            width: 100%;
            gap: toRem(10px);
            padding: toRem(0px) toRem(10px) toRem(10px) toRem(10px);
        }

        .info__box {
            padding: toRem(20px) toRem(20px);
            background-color: #fff;
            border-radius: toRem(5px);
            color: rgba(0, 0, 0, 0.842);
            display: flex;
            flex-direction: column;
            gap: toRem(10px);
            line-height: 2;
        }

        .info__hdl {
            color: $secendary-color;
        }
    }
}